.itemBlock{
    padding: 30px;
    display: grid;
    grid-template-areas:
    "title title"
    "photo description";
    grid-template-rows: 50px 200px;
    grid-template-columns: 350px 1fr;

}
.photo{
   grid-area: photo;
}
.title{
    grid-area: title;
}
.description{
    grid-area: description;
}

.picture{
    max-height: 180px;
    max-width: 300px;
}




.listBlock{
    padding-top: 25px;
    height: 750px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 40px;
}