.main{
    width: 100%;
    /*min-height: 500px;*/

    background: white;
    border-radius: 20px;
    border: 2px black solid;
}



.onTitle{
    padding: 20px 0;
    width: 100%;
    min-height: 50px;
    border-bottom: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.onAdd{
    padding: 20px 0;
    width: 100%;
    min-height: 50px;
    border-bottom: 2px black solid;
    display: flex;
    justify-content: start;
    align-items: center;
}
.onAdd:hover{
    background-color: #282c34;
    color: white;
}

.onAddForm{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  rgba(0,0,0,0.5) ;
}


.form{
    width: 800px;
    height: 800px;
    background: white;
    border-radius: 20px;
    padding: 20px;
}


.totalSummary{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.totalSum{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    font-size: 25px;
    font-weight: bold;
    padding-left: 20px;
}